# Ignore the entire target directory
target/
# But allow JAR/WAR files inside target
!target/*.jar
!target/*.war
# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
# VS Code
.vscode/

